# Ignore all files ending in .db or .sqlite
*.db
*.sqlite
*.sqlite3

# Ignore SQL dumps
*.sql

# Ignore specific local database folders
bin/
data/
# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

#Ignore Node.js Modules
node_modules/